#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App-sidebar {
  backdrop-filter: blur(1px);
  height: 100%;
  left: 0px;
  top: 0px;
  overflow-x: hidden;
  position: fixed;
  width: 200px;
  unicode-bidi: isolate;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  display: block;
  -webkit-font-smoothing: antialiased;
  
}
.Menu-select{
  margin: 10px;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.home-page{
  display: block;
  text-rendering: optimizeLegibility;
  text-align: center;

}
.whole-page{
  display: block;
  text-align: center;
  text-rendering: optimizeLegibility;

  line-height: 24px;
  margin-left: 100px;
  height: 600px;
  width: 750px;
}
img{
  width: 70%;
  height: 70%;
}
.gif{
  position: absolute;
  bottom: 50px;
}
.gallery-image{
  width: 440px;
  height: 200px;
  padding-left: 150px;
}

.form-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.19);
  align-items: flex-start;
  padding: 20px;
  margin: 0 auto; 
}


.mini-container {
  width: 230px;
  display: flex-start;
  flex-direction: column;
  background-color: rgba(162, 161, 161, 0.2);
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.19);
}